a{
    text-decoration: none;
    color: white;
}

.userAvatar {
    width: 9rem !important;
    height: 9rem !important;
    font-size: 62px !important;
    background-color: #557fff !important;
    transition-duration: 1s;
}

.userAvatar:hover {
    width: 9.5rem !important;
    height: 9.5rem !important;
    transition-duration: 1s;
    box-shadow: 2px 2px 20px 2px #ff0000 !important;
}

.sidebar-menu {
    padding-left: 1rem;
}

.menu-item {
    width: 80%;
    height: 1.5rem;
    padding-left: 1rem;
}

.menu-item:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
